

/* index.html (accueil)*/

.button_index {
text-align: center;
display: inline-block;
transition-duration: 0.3s;
cursor: pointer;
}

.button_index2 {
padding: 16px 32px;
font-size: 36px;
position: relative;
background-color: white; 
color: black; 
}
.button_index2:hover {
background-color: black;
transition-duration: 0.5s;
color: white;
}

.button_index3 {
    padding: 0px 10px;
    font-size: 19px;
    position: relative;
    background-color: white; 
    color: black; 
    }
    .button_index3:hover {
    background-color: black;
    transition-duration: 0.5s;
    color: white;
    }

.flex {
    display: flex;
    }
    
    .flex > div {
    width: 100%;
    margin: 10px;
    text-align: center;
    align-items: center;
    line-height: 75px;
    font-size: 50px;
    }


/* index.html (accueil)*/



/*inscription.html*/
.input_inscription{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    
.position {
    position: absolute;
    bottom: 20%;
    right: 20%;
    }
.position_inscription {
    position: absolute;
    bottom: 10%;
    right: 20%;
    }


.button_inscription {
color: black;
text-align: center;
font-size: 15px;
padding: 10px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
}
/* pris dans : https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
/*W3School*/
.button_inscription span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button_inscription span:after {
content: '\00bb';
opacity: 0;
transition: 0.5s;
}

.button_inscription:hover span {
padding-right: 25px;
}

.button_inscription:hover span:after {
opacity: 1;
}
/*jusqu'ici*/
/*inscription.html*/



/*connecion.html*/
.input_connexion{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }

.position_connexion {
    position: absolute;
    bottom: 30%;
    right: 15%;
    }
.position_button_connexion {
    position: absolute;
    bottom: 20%;
    right: 15%;
    }

.button_connexion {
color: black;
text-align: center;
font-size: 15px;
padding: 10px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
}
/* pris dans : https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
/*W3School*/
.button_connexion span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button_connexion span:after {
content: '\00bb';
opacity: 0;
transition: 0.5s;
}

.button_connexion:hover span {
padding-right: 25px;
}

.button_connexion:hover span:after {
opacity: 1;
}
/*jusqu'ici*/
/*connecion.html*/


/*produit.html*/
/*pris dans: https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-wrap_nowrap8 */
        /* ces lignes ont été nétoyer pour ne garder que ce que j'ai besoin*/


.flex2 {
display: flex;
}

.flex2> div {
width: 100%;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 25px;
}

/*jusqu'ici*/

.button_produit {
padding: 16px 32px;
text-align: center;
display: inline-block;
font-size: 36px;
transition-duration: 0.3s;
cursor: pointer;
}

.button_produit1 {
background-color: white; 
color: black; 
}
.button_produit2 {
float: right;
background-color: white; 
color: black; 
}

.button_produit1:hover {
background-color: black;
color: white;
}

.button_produit2:hover {
background-color: black;
transition-duration: 0.5s;
color: white;
}

.text{
    font: 50px;
}

.img_produit {
    width: 230px;
    height: 230px;
    border: solid black;
}

.img_produit:hover{
    background-color: rgba(65, 65, 65, 0.377);
    transition-duration: 0.5s;
    cursor: pointer;
}

.bar{
    width: 100%;
    height: 60px;
    opacity: 0.3;
}

.couleur{
    color: red;
}
/*produit.html*/


